header{
    padding: 10px 0px;
}

.graph{
    width: 50%;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 150px;
}

.course-desc-area{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 30px;
    min-height: 150px;
}

.no-data-on-graph{
    padding-top: 65px;
}